<ul>
  <li (click)="setDir(0, 'iw-introspection/records')">records/</li>
  <li (click)="setDir(0, 'iw-introspection/rpcs')">rpcs/</li>
  <li (click)="setDir(0, 'iw-introspection/channels')">channels/</li>
  <li (click)="showNodes()" [ngClass]="{ active: nodeMode }">nodes/</li>
</ul>
<ng-container *ngIf=" ! nodeMode">
  <app-directory-view *ngFor="let dir of dirs, index as i" [root]="dir" (openDir)="setDir(i + 1, $event)"></app-directory-view>
</ng-container>
<div *ngIf="nodeMode" class="node-view">
  <app-record-view *ngFor="let node of nodes" [recordName]="node"></app-record-view>
</div>