:host {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  flex: none;
}

ul {
  list-style: none;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

li {
  cursor: pointer;
}

li.active {
  background-color: lightblue;
}