<mat-action-list>
  <ng-container *ngFor="let dir of subdirs; index as i">
    <button mat-list-item (click)="openSubdir(dir, i)" [ngClass]="{ active: i === activeDirectory }">{{dir}}</button>
    <mat-divider></mat-divider>
  </ng-container>
</mat-action-list>
<app-record-view *ngFor="let rec of records" [recordName]="rec"></app-record-view>

<button *ngIf="isRecordView()" mat-button (click)="createRecord()">Create Record</button>
<ng-template #createRecordTemplate>
  <form [formGroup]="createRecordForm">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Record Name</mat-label>
      <input #recordNameInput matInput formControlName="recordName">
    </mat-form-field>
    <button mat-button color="primary" (click)="doCreateRecord()">Create</button>
  </form>

</ng-template>